/* General Resets */
html {
    box-sizing: border-box;
}

.custom-control-label {
    text-transform: uppercase;
    color: #839496;
    letter-spacing: 2px;
    font-size: 1.1rem;
}

::-webkit-input-placeholder {
    font-size: 1.1rem!important;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 2rem;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.4rem;
}


/* Main container and content */
main { 
    margin-top: 4%;
}

.pw-generator {
    background: rgba(255, 255, 255, 0.098);
    margin-top: 20px;
    padding: 50px 10px;
}

.pw-generator hr {
    width: 35%;
    border-top: 2px #839496 solid;
}

.pw-generator .heading {
    width: 70%;
    margin: 0 auto;
}

.pw-return {
    width: 70%;
    margin: 0 auto;
}

.form-control {
    font-size: 20px;
    color: #031216;
    text-align: center;
    padding: 20px;
}

.char-count-label {
    text-transform: uppercase;
    color: #839496;
    letter-spacing: 2px;
    font-size: 1.1rem;
}

.btn {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
}

/* ——————————
Snackbar functionality to alert copied text. Resource found here: https://www.w3schools.com/howto/howto_js_snackbar.asp 
————————— */

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }



/* Media queries */
@media screen and (max-width: 769px) {
    main { 
        margin-top: 5%;
    }
    #snackbar {
        right: 5%;
        bottom: 3%;
    }
}